/** Body **/
html, body {
   height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100%;
    background: linear-gradient(180deg, #0a0a0a, #1a1a1a); 
    background-attachment: fixed
}

/** Menu de navegacion **/
.ul_menu {
    list-style-type: none;
    transition: all 0.5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.li_menu {
    padding-left: 20px;
    padding-right: 20px;
}

.a_menu {
    color: rgb(82, 82, 82);
    text-decoration: none;
    font-size: 15pt;
    transition: all 0.5s;
}

.a_menu:visited {
    color: rgb(82, 82, 82);
    text-decoration: none;
}

.a_menu:hover {
    color: rgb(173, 173, 173);
}

/** header **/


header {
    display: flex;
    align-items: center;
    margin-top: 10px;
    background: linear-gradient(90deg, #111111, #1a1a1a);
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding-left: 10px;
    border-radius: 20px;
}

header h1 {
    color: rgb(82, 82, 82);
    transition: all 0.5s;
}

header h1:hover {
    color: rgb(173, 173, 173);
}

header img {
    padding: 5px;
    width: 100px;
    height: 100px;
}
header a {
    text-decoration: none;
}
header a:visited {
    color: rgb(82, 82, 82);
}
/** Menu inicio **/
#nav_inicio {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 50vh; 
    text-align: center; 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

.a_inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px; 
    background: linear-gradient(90deg, #111111, #1a1a1a);
    border: 2px solid rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease-in-out;
    color: rgb(82, 82, 82);
    font-size: 14pt; 
    text-decoration: none;
    text-align: center;
    transition: all 0.5s;
    font-weight: bold;
    margin: 250px 20px 10px 20px;
    border-radius: 10px;
}

.a_inicio:hover {
    transition: all 0.5s;
    background: linear-gradient(145deg, #b9b9b9, #808080); /* Brillo blanco */
    border: 2px solid #ffffff; /* Borde encendido */
    box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.8); /* Glow más fuerte */
    color: black; /* Opcional: Cambia el texto a negro para contraste */
}


/** footer **/

footer {
    margin-top: auto;
    background: linear-gradient(90deg, #111111, #1a1a1a);
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 25px;
    padding: 20px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#facebook, #twitter, #instagram, #youtube {
    text-align: left;
    color: rgb(82, 82, 82);
    font-size: 25pt;
    margin: 0 10px;
    transition: all 0.5s;
}

#facebook:hover {
    color: #405c9c
}

#twitter:hover {
    color: #1da1f2
}
#youtube:hover {
    color: #ff0000
}  

#instagram:hover {
    color: #e1306c
}


/** Introduccion **/

.introduccion {
    margin: 20px;
    background: linear-gradient(90deg, #111111, #1a1a1a);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    color: rgb(82, 82, 82);
}

.introduccion p {
    padding-left: 20px;
    padding-right: 20px;

}

/** Menu paso1 **/

#nav_paso1 {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 50vh; 
    text-align: center; 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

.a_paso1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px; 
    background: linear-gradient(90deg, #111111, #1a1a1a);
    border: 2px solid rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease-in-out;
    color: rgb(82, 82, 82);
    font-size: 14pt; 
    text-decoration: none;
    text-align: center;
    transition: all 0.5s;
    font-weight: bold;
    margin: 100px 20px 10px 20px;
    border-radius: 10px;
}

.a_paso1:hover {
    transition: all 0.5s;
    background: linear-gradient(145deg, #b9b9b9, #808080); /* Brillo blanco */
    border: 2px solid #ffffff; /* Borde encendido */
    box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.8); /* Glow más fuerte */
    color: black; /* Opcional: Cambia el texto a negro para contraste */
}



/** Componentes **/
#componentes {
    color: rgb(82, 82, 82);
}

#componbentes h2 {
    color: rgb(82, 82, 82);
    font-weight: bold;
}

#cpu, #gpu, #mobo, #ram, #caja, #refri, #psu, #discoduro, #discoduro2, #ventiladores {
    background: linear-gradient(90deg, #111111, #1a1a1a);
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.caja_specs {
    background: linear-gradient(90deg, #111111, #1a1a1a);
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}