/** Body **/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/** Menu de navegacion **/
.ul_menu {
    list-style-type: none;
    transition: all 0.5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.li_menu {
    padding-left: 20px;
    padding-right: 20px;
}

.a_menu {
    color: rgb(82, 82, 82);
    text-decoration: none;
    font-size: 15pt;
    transition: all 0.5s;
}

.a_menu:visited {
    color: rgb(82, 82, 82);
    text-decoration: none;
}

.a_menu:hover {
    color: black;
    font-size: 18pt;
}

/** header **/
header {
    display: flex;
    align-items: center;
    background-color: rgb(156, 156, 156);
    padding-left: 10px;
}

header h1 {
    color: rgb(82, 82, 82);
}

/** Menu inicio **/
#nav_inicio {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 50vh; 
    text-align: center; 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

#ul_inicio {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px; 
    padding: 0;
    margin: 0;
}

.li_inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px; 
    background-color: rgb(156, 156, 156);
    transition: all 0.5s;
}

.li_inicio:hover {
    transform: scale(1.05); 
    background-color: rgb(207, 207, 207);
}
.a_inicio {
    color: rgb(82, 82, 82);
    font-size: 14pt; 
    text-decoration: none;
    text-align: center;
    transition: all 0.5s;
    font-weight: bold;
}

.a_inicio:hover {
    color: rgb(161, 161, 161);
}
